.list{
    display: grid;
    grid-template-columns: auto auto auto;
}

.title{
    font-family: gliker;
}

.grid-item{
    margin-bottom: 50px;
}

#menu{
    border: 2px solid #050b06;
    border-radius: 20px;
    box-shadow: 8px 8px 0px #c2afea;
    padding: 15px;
    margin-top: 10px;
}

.btns{
    margin-right: 20px;
}