.list{
    display: grid;
    grid-template-columns: auto auto auto;
}

.title{
    font-family: gliker;
}

.grid-item{
    margin-bottom: 50px;
}

#menu{
    border: 2px solid #050b06;
    border-radius: 20px;
    box-shadow: 8px 8px 0px #c2afea;
    padding: 15px;
    margin-top: 10px;
}

.btns{
    margin-right: 20px;
}

.textBox{
    border-radius: 33px;
    background-color: #FDFAF9;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    height: 100px;
    width: 300px;
}
.sugModal{
    padding: 20px;
    width: 70%;
    height: 60%;
    margin-left: 15%;
}
#sugCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#colL{
    margin-right: 60px;
}

/* #modTitle{
    display: flex;
    justify-content: center;
} */
#modBtn{
    margin-left: 45%;
    margin-top: 20px;
}

