.inputSmall {
  width: 90%;
  height: 45px;
  border-radius: 33px;
  background-color: #fdfaf9;
  border: 2px solid rgb(0, 0, 0);
  margin-bottom: 30px;
  padding-left: 20px;
}

.modal {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.subList{
  margin: 10px;
}

.boardP {
  background-color: #fdf9f9;
  box-shadow: 5px 5px 0px #c2afea;
  border: 2px solid #050b06;
  padding: 20px;
  border-radius: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.boardG {
  background-color: #fdf9f9;
  box-shadow: 5px 5px 0px #62b273;
  border: 2px solid #050b06;
  padding: 20px;
  border-radius: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.boardR {
  background-color: #fdf9f9;
  box-shadow: 5px 5px 0px #e9674d;
  border: 2px solid #050b06;
  padding: 20px;
  border-radius: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.boardY {
  background-color: #fdf9f9;
  box-shadow: 5px 5px 0px #e9a13b;
  border: 2px solid #050b06;
  padding: 20px;
  border-radius: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.boardPk {
  background-color: #fdf9f9;
  box-shadow: 5px 5px 0px #d26174;
  border: 2px solid #050b06;
  padding: 20px;
  border-radius: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.searchbar {
  width: 40%;
  margin-left: 5%;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
}

#searchicon{
  width: 20px;
  margin-left: 5px;
  margin-bottom: 25px;
}

.textInfo{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.btnGroup{
  display: flex;
  align-items: center;
}

.cardY {
  background-color: #fdf9f9;
  box-shadow: 5px 5px 0px #e9a13b;
  border: 2px solid #050b06;
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  /* display: flex; */
}

.cardPc {
  background-color: #fdf9f9;
  box-shadow: 8px 8px 0px #c2afea;
  border: 2px solid #050b06;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 50px;
}
.cardP {
  background-color: #fdf9f9;
  box-shadow: 5px 5px 0px #c2afea;
  border: 2px solid #050b06;
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.cardR {
  background-color: #fdf9f9;
  box-shadow: 5px 5px 0px #e9674d;
  border: 2px solid #050b06;
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}
.cardG {
  background-color: #fdf9f9;
  box-shadow: 5px 5px 0px #62b273;
  border: 2px solid #050b06;
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.carddiv {
  margin: 20px;
  width: 25%;
}

.carddivTables {
  margin: 20px;
  width: 30%;
}

.councilUs{
  padding-left: 40px;
  padding-bottom: 40px;
}

.icon {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: -40px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  height: 100%;
  border-radius: 15px;
}

.logoutbtn:hover{
  content: url("/src/assets/icons/iconesthicc/logout.svg")
}

.addbtn:hover{
  content: url("/src/assets/icons/iconesthicc/addUser.svg")
}

.cardImg {
  height: 300px;
  width: 95%;
}

.listAct {
  display: grid;
  grid-template-columns: auto auto auto;
}

.linkUsers{
  justify-self: center;
}

.linkUsers:hover span {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 16%,
    rgba(233, 161, 59, 1) 16%,
    rgba(233, 161, 59, 1) 41%,
    rgba(255, 0, 255, 0) 41%
  );
}

.linkActs:hover span {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 16%,
    rgba(194, 175, 234, 1) 16%,
    rgba(194, 175, 234, 1) 41%,
    rgba(255, 0, 255, 0) 41%
  );
}

.linkOcs:hover span {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 16%,
    rgba(233, 103, 77, 1) 16%,
    rgba(233, 103, 77, 1) 41%,
    rgba(255, 0, 255, 0) 41%
  );
}

p {
  font-size: 91%;
}

@media screen and (max-width: 1300px) {
  .listAct{
    display: grid;
    grid-template-columns: auto auto
  }
}

@media screen and (max-width: 1000px) {
  .btn-page{
    width: 100px
  }
  .listAct{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .btn-page{
    width: 80px;
    font-size: 8px;
  }
  p{
    font-size: 9px;
  }
}
