/* paleta de cores:
original:             +60brightness
branco #FBF3F1        preto #0D1E11
verde #62B273         preto #0D1E11
vermelho #E9674D      preto #0D1E11
lilas #C2AFEA         preto #0D1E11
amarelo #E9A13B       preto #0D1E11
rosa #EFC6CD          preto #0D1E11
preto #0D1E11         preto #0D1E11

bg #FBF3F1
boxes #FDF9F9
preto #050B06
*/

body{
    font-family: 'Quicksand', sans-serif;
    color: #050B06;
    background-color: #FBF3F1;
  };

  @media (hover: hover) {
    a:hover {
      font-weight: bold;
    }
  }
  
button,#login, #signup{
  border: 1px solid #050B06;
  border-radius: 30px;
}

nav a:hover{
  font-weight: bold;
} 

button:hover, #login:hover, #signup:hover, .btn-page:hover{
  box-shadow: none;
  position: relative;
  left: 3px;
  top: 5px;
}

.btn-page{
  border: 1px solid #050B06;
  width: 190px;
  height: 60px;
  font-weight: bold;
}

#login:active{
  background-color: #D4C7F0;
}
#signup:active{
  background-color: #91C99D;
}
  
nav a.router-link-exact-active {
    color: #050B06;
    font-weight: bold;
    box-shadow: 0px -8px #E9674D inset;
  }

nav a, button {
  font-size: 15px;
  text-decoration: none;
  color: #050B06;
  display: inline-block;
  margin: 0 1rem 0 1rem;
}

button:last-of-type {
  margin-right: 3rem;
}

#logo {
  margin: 1rem 2rem 0 2rem;
  display: inline-block;
  width: 8rem;
  /* min-width: 50px;
  max-width: 200px; */
}

@media screen and (min-width: 700px) {
  #ddmenu{
    display: none;
  }
}

@media screen and (max-width: 700px) {
  nav{
    display: none;
  }
}
@media screen and (max-width: 800px) {
  nav a{
    font-size: 10px;
  }
}

.hide, #hide{
  display: none;
}