/* paleta de cores:
original:             +60brightness
branco #FBF3F1        branco #0D1E11
verde #62B273         verde #0D1E11
vermelho #E9674D      vermelho #0D1E11
lilas #C2AFEA         lilas #0D1E11
amarelo #E9A13B       amarelo #0D1E11
rosa #EFC6CD          rosa #0D1E11
preto #0D1E11         preto #0D1E11

bg #FBF3F1
boxes #FDF9F9
preto #050B06
*/

body {
  font-family: "Quicksand", sans-serif;
  color: #050b06;
  background-color: #fbf3f1;
  font-display: swap;
}

router-link a {
  text-decoration: none;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

@media (hover: hover) {
  a:hover {
    font-weight: bold;
  }
}

@font-face {
  font-family: "gliker";
  src: url("../gliker/gliker-bold.woff2") format("woff2"),
    url("../gliker/gliker-bold.woff") format("woff"),
    url("../gliker/gliker-bold.ttf") format("truetype");
  font-display: swap;
}

#login:hover,
#signup:hover,
.btn-page:hover,
.btn-card:hover,
.btnRound:hover {
  box-shadow: none;
  position: relative;
  left: 3px;
  top: 5px;
}

.backbtn:hover {
  content: url("src/assets/icons/iconesthicc/arrowback.svg");
}

#profilePhoto {
  width: 2rem;
  height: 2rem;
  border: 2px solid #050b06;
  border-radius: 100px;
  box-shadow: 3px 3px 0px #050b06;
}

.btn-page {
  border: 2px solid #050b06;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  border-radius: 30px;
  margin-bottom: 30px;
}

.btnRound {
  border: 2px solid #050b06;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

/* different classes for different colored buttons  */
.btnP {
  background-color: #e6dff6;
  box-shadow: 3px 5px 0px #c2afea;
}
.btnG {
  background-color: #c0e0c7;
  box-shadow: 3px 5px 0px #62b273;
}
.btnR {
  background-color: #f6c3b8;
  box-shadow: 3px 5px 0px #e9674d;
}
.btnY {
  background-color: #f6d9b0;
  box-shadow: 3px 5px 0px #e9a13b;
}
.btnPk {
  background-color: #f4d8dd;
  box-shadow: 3px 5px 0px #d26174;
}
.btnPklight {
  background-color: #f9e9eb;
  box-shadow: 3px 5px 0px #efc6cd;
}
.btnB {
  background-color: #fdf9f9;
  box-shadow: 3px 5px 0px #050b06;
}
/* buttona active */
.btnP:active {
  background-color: #d4c7f0;
}
.btnG:active {
  background-color: #91c99d;
}
.btnR:active {
  background-color: #f09583;
}
.btnY:active {
  background-color: #f0bc75;
}
.btnPk:active {
  background-color: #efc6cd;
}
.btnPklight:active {
  background-color: #f4d8dd;
}
.btnB:active {
  background-color: #c0e0c7;
}

/* fieldsets */
.fieldP {
  background-color: #fdf9f9;
  box-shadow: 9px 9px 0px #c2afea;
  border: 2px solid #050b06;
  padding: 20px;
  border-radius: 30px;
  margin: 40px;
  text-align: left;
}
.fieldG {
  background-color: #fdf9f9;
  box-shadow: 9px 9px 0px #62b273;
  border: 2px solid #050b06;
  padding: 20px;
  border-radius: 30px;
  margin: 40px;
  text-align: left;
}
.fieldR {
  background-color: #fdf9f9;
  box-shadow: 9px 9px 0px #e9674d;
  border: 2px solid #050b06;
  padding: 20px;
  border-radius: 30px;
  margin: 40px;
  text-align: left;
}
.fieldY {
  background-color: #fdf9f9;
  box-shadow: 9px 9px 0px #e9a13b;
  border: 2px solid #050b06;
  padding: 20px;
  border-radius: 30px;
  margin: 40px;
  text-align: left;
}
.fieldPk {
  background-color: #fdf9f9;
  box-shadow: 9px 9px 0px #d26174;
  border: 2px solid #050b06;
  padding: 20px;
  border-radius: 30px;
  margin: 40px;
  text-align: left;
}

.fieldPklight {
  background-color: #fdf9f9;
  box-shadow: 9px 9px 0px #efc6cd;
  border: 2px solid #050b06;
  padding: 20px;
  border-radius: 30px;
  margin: 40px;
  text-align: left;
}

/* headers underline */
.gradientPurple span {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 16%,
    rgba(194, 175, 234, 1) 16%,
    rgba(194, 175, 234, 1) 41%,
    rgba(255, 0, 255, 0) 41%
  );
}
.gradientPink span {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 16%,
    rgba(239, 198, 205, 1) 16%,
    rgba(239, 198, 205, 1) 41%,
    rgba(255, 0, 255, 0) 41%
  );
}
.gradientOrange span {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 16%,
    rgba(233, 161, 59, 1) 16%,
    rgba(233, 161, 59, 1) 41%,
    rgba(255, 0, 255, 0) 41%
  );
}
.gradientGreen span {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 16%,
    rgba(98, 178, 115, 1) 16%,
    rgba(98, 178, 115, 1) 41%,
    rgba(255, 0, 255, 0) 41%
  );
}
.gradientRed span {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 16%,
    rgba(233, 103, 77, 1) 16%,
    rgba(233, 103, 77, 1) 41%,
    rgba(255, 0, 255, 0) 41%
  );
}
.gradientDarkPink span {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 16%,
    rgba(210, 97, 116, 1) 16%,
    rgba(210, 97, 116, 1) 41%,
    rgba(255, 0, 255, 0) 41%
  );
}
.padding span {
  padding: 0.3em 0.4em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/* box-shadow divs or cards */
.shadowP {
  box-shadow: 9px 9px #c2afea;
}
.shadowPk {
  box-shadow: 9px 9px #efc6cd;
}
.shadowPd {
  box-shadow: 9px 9px #d26174;
}
.shadowR {
  box-shadow: 9px 9px #e9674d;
}
.shadowO {
  box-shadow: 9px 9px #e9a13b;
}
.shadowG {
  box-shadow: 9px 9px #62b273;
}

/* activity modals */
.actModal {
  width: 60%;
  height: 50%;
  align-self: center;
}
.imgModal {
  width: 350px;
  height: 200px;
  border-radius: 10px;
}
.contentModal {
  padding: 15px;
}
.row1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.rowText {
  margin-left: 20px;
}
.btnModal {
  margin-left: 40%;
}

.title {
  font-family: gliker;
  margin-bottom: 30px;
  margin-top: 30px;
  /* display: flex;
  align-items: flex-start;
  margin-left: 60px;  */
}
.semiTitle {
  font-weight: 600;
  font-size: 22px;
}

.hide,
#hide {
  display: none;
}

footer {
  background-color: #91c99d;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.footerA {
  text-decoration: none;
  color: #fdf9f9;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
}
.footerA:hover {
  color: #244a2c;
}

.hide,
#hide {
  display: none;
}

@media screen and (max-width: 1000px) {
  .btn-page {
    width: 130px;
    height: 50px;
    font-size: 13px;
  }
}
