.title{
    font-family: gliker;
}
.faqRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 50px;
    
}
/* .asFAQs{
    width: 95%;
}
.FAQ{
    width: 33%;
    margin: 10px;
} */

.faqImgs{
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom:-70px;
    z-index: 1;
    margin-right: 50%;
    margin-left: 40%;
}
.faqText{
    background-color: #FDFAF9;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding:40px;
    margin:30px; 
    /* width: 400px; */
    width: 27vw;
    height: 280px;
    text-align: left;
}

/* .ptext{
    font-weight: 500;
}

@media screen and (max-width: 1190px) {
    .FAQ{
        font-size: 15px;
    }
    .faqText{
        padding: 20px;
    }
  }

  @media screen and (max-width: 700px) {
    .FAQ{
        font-size: 10px;
    }
    .faqText{
        padding: 20px;
    }
  } */