.questionario{
    background-image: url("../images/ocrBg.svg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: right 100px;
}

@media screen and (max-width: 1000px){
    iframe{
        width: 80%;
    }
}