/* .underlinePurpl{
    text-decoration: underline #C2AFEA;
    text-decoration-thickness: 10px;
    text-underline-offset: 0px;
} */

h1.gradientPurple span {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 16%, rgba(194,175,234,1) 16%, rgba(194,175,234,1) 41%, rgba(255,0,255,0) 41%);
}

h1.gradientPink span {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 16%, rgba(239,198,205,1) 16%, rgba(239,198,205,1) 41%, rgba(255,0,255,0) 41%);
}
  
h1.padding span {
    padding: 0.3em 0.4em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

#activities{
    display:flex;
}
.cardText{
    text-align: left;
}

.btn-card{
    border: 2px solid #050B06;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border-radius: 30px;
    height: 30px;
    margin: 20px;
}

#btnP{
    background-color: #e6dff6;
    box-shadow: 3px 5px 0px #c2afea;
}

.btn-page{
border: 2px solid #050B06;
padding: 10px;
padding-left: 20px;
padding-right: 20px;
font-weight: bold;
border-radius: 30px;
}

#card{
    border: 2px solid #050B06;
    border-radius: 30px;
    box-shadow: 10px 10px 0px #c2afea;
    
}

#btnP:hover{
    box-shadow: none;
}

.image{
    margin: 10px;
    border-radius: 30px;
}

.board{
    background-color: #FDF9F9;
    border: 2px solid #09140B;
    border-radius: 50px;
    box-shadow: 10px 10px 0px #EFC6CD;
    height: 90px;
    margin: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    font-weight: bold;
    text-align: left;
}

#profilePic{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid #09140B;
    box-shadow: 2px 2px 0px #09140B;
}

.place{
    width: 50px;
    height: 50px;
    background-color: #F6D9B0;
    border-radius: 50px;
    border: 2px solid #09140B;
    box-shadow: 2px 2px 0px #09140B;

    display: flex;
    align-items: center;
    justify-content: center;
}