body{
    text-align: center;
}

#div1,#div2,#div3,#div4{
    padding-bottom: 120px;
    padding-top: 120px;
}
#div1{
    background-color: #E6DFF6;
    color: #774ED0;
}

#div2{
    background-color: #F6C3B8;
    color: #C23418;
}

#div3{
    background-color: #C0E0C7;
    color: #40814E;
}

#firstdiv{
    padding-bottom: 120px;
}
#lastdiv{
    padding-top: 120px;
}
