body{
    text-align: center;
}
.div{
    height: 90vh;
}
.midDiv{
    height: 100vh;
}
.title{
    font-family: 'gliker';
}

/* first div */
#firstdiv{
    background-image: url("../images/landingbg.svg");
    background-size: 85%;
    background-position: 100px 80px;
    /* margin-left: 10%; */
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#text0{
    margin-top: 30px;
}
#text0 p{
    font-size: 20px;
    font-weight: 500;
    padding: 50px;
}
#text0 h1{
    font-size: 40px;
}
#btn0{
    background-color: #F6C3B8;
    box-shadow: 3px 5px #E9674D;
    padding: 10px 35px;
}
#btn0:hover{
    box-shadow: none;
}

#text0 h1.padding span {
    padding: 0 0.2em 0.2em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}


#div1,#div2,#div3,#div4{
    padding-bottom: 120px;
    padding-top: 120px;
}

#text1 p{
    font-size: 20px;
    font-weight: 500;
    color: #402281;
    padding: 30px 80px;
}
#text1 h1{
    font-size: 42px;
    color: #774ED0;
}
#img1{
    width: 700px;
    height: 500px;
}
#btn1{
    background-color: #FBF3F1;
    box-shadow: 3px 5px #774ED0; 
}
#btn1:hover{
    box-shadow: none;
}

#img2{
    width: 500px;
    height: 400px;
}
#text2 h1{
    font-size: 42px;
    color: #C23418;
}
#text2 p{
    font-size: 20px;
    font-weight: 500;
    color: #6F1E0E;
    padding: 30px 130px;
}
#btn2{
    background-color: #FBF3F1;
    box-shadow: 3px 5px #C23418; 
}
#btn2:hover{
    box-shadow: none;
}

#text3 p{
    font-size: 20px;
    font-weight: 500;
    color: #244A2C;
    padding: 30px 80px;
}
#text3 h1{
    font-size: 42px;
    color: #40814E;
}
#img3{
    width: 700px;
    height: 500px;
}
#btn3{
    background-color: #FBF3F1;
    box-shadow: 3px 5px #40814E; 
}
#btn3:hover{
    box-shadow: none;
}

/* last div*/
#lastdiv{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#lastdiv h1{
    font-size: 40px;
    padding: 50px;
}
#btn4{
    background-color: #F6D9B0;
    box-shadow: 3px 5px #E9A13B;
    padding: 10px 35px;
}
#btn4:hover{
    box-shadow: none;
}


#div1{
    background-color: #E6DFF6;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 0;
    margin-top: -110px;
}
#landingImg1{
    width: 200px;
    height: 200px;
    z-index: 1;
    position: relative;
    top: 0px;
    right: -47%;
    margin-top: -110px;
}
#div2{
    background-color: #F6C3B8;
    display: flex;
    align-items: center;
    padding-left: 120px;
    z-index: 0; 
    margin-top: -120px;
}
#landingImg2{
    width: 220px;
    height: 220px;
    z-index: 1;
    position: relative;
    left: -47%;
    margin-top: -110px;
}
#div3{
    background-color: #C0E0C7;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 80px;
    margin-top: -120px;

}
#landingImg3{
    width: 220px;
    height: 220px;
    z-index: 1;
    position: relative;
    top: 0px;
    right: -47%;
    margin-top: -110px;
}
#landingImg4{
    width: 240px;
    height: 240px;
    z-index: 1;
    position: relative;
    left: -47%;
    margin-top: -115px;
}
.btnUp{
    border: 2px solid #050b06;
    background-color: #FFFFFF;
    padding: 10px;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    box-shadow: 5px 5px #000000;
}
.btnUp:hover{
    box-shadow: none;
    position: relative;
    left: 3px;
    top: 5px;
}
.btnUp:active {
    background-color: #91c99d;
  }
#divBtnUp{
    text-align: right;
    margin-right: 5%;
}


@media screen and (max-width: 1000px) {
  }