#backgroundLogin{
    background-image: url("../images/entrar.png");
    background-size: 90%;
    background-attachment: fixed;
    background-position: right 90px;

    /* height: 865px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 357px;
}
#backgroundSign{
    background-image: url("../images/entrar.png");
    background-size: 90%;
    background-attachment: fixed;
    background-position: right 90px;

    /* height: 865px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 180px;
}

#group{
    display: flex;
}

#col1, #col2{
    margin: 30px;
}

.input{
    width: 376px;
    height: 54px;
    border-radius: 33px;
    background-color: #FDFAF9;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 30px;
    padding: 20px;
}

.btn-page{
    background-color: #C0E0C7;
    box-shadow: 3px 5px 0px #62B273;   
}

.btn-page:active{
    background-color: #91C99D;
  }

.link{
    font-size: 22px;
    text-decoration: none;
    color: black;
}

#signUpBtn{
    font-weight: 500;
}

#btns{
    width: 376px;
    display: flex;
    justify-content: space-between;
}
