#backgroundLogin {
  background-image: url("../images/entrar.png");
  background-size: 90%;
  background-attachment: fixed;
  background-position: right 90px;

  /* height: 865px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 144px;
}
#backgroundSign {
  background-image: url("../images/entrar.png");
  background-size: 90%;
  background-attachment: fixed;
  background-position: right 90px;

  /* height: 865px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 52px;
}

#group {
  display: flex;
}

#col1,
#col2 {
  margin: 30px;
}

.input {
  width: 376px;
  height: 44px;
  border-radius: 33px;
  background-color: #fdfaf9;
  border: 2px solid rgb(0, 0, 0);
  margin-bottom: 30px;
  padding-left: 10px;
}

.btn-page {
  background-color: #c0e0c7;
  box-shadow: 3px 5px 0px #62b273;
}

.btn-page:active {
  background-color: #91c99d;
}

.link {
  font-size: 22px;
  text-decoration: none;
  color: black;
}

#signUpBtn {
  font-weight: 500;
}

#btns {
  width: 376px;
  display: flex;
  justify-content: space-around;
}

.errorAlert {
  border-radius: 33px;
  background-color: #fdfaf9;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 0px #050b06;
}

#loginContent {
  margin-top: 20%;
}
#loginImg {
  margin-bottom: 12%;
}

#signContent {
  margin-top: 1%;
}
#signImg {
  width: 43%;
  margin-bottom: 30px;
}

.backbtn {
  width: 50px;
}
.backBtnDiv {
  margin-right: auto;
  margin-left: 2%;
}
.backBtnRank {
  display: flex;
  align-self: left;
  margin-left: 4%;
  margin-bottom: -3%;
}
