fieldset{
    flex-direction: column;
    /* flex-wrap: nowrap; */
}
.badge{
    height: 6.2rem;
    width: 6.2rem;
    border-radius: 1000px;
    border: 2px solid #050B06;
    margin-top: 0.2rem;
    margin-left: 1rem;
}
.badgebg{
    height: 6rem;
    width: 6rem;
    border-radius: 1000px;
}

.badgeG{
    box-shadow: 3px 5px 0px #050B06;
    margin-top: auto;
    margin-bottom: auto;
}
.badgeY{
    background: #f6d9b0;
    box-shadow: 3px 5px 0px #050B06;
    margin-top: auto;
    margin-bottom: auto;
}
.badgeR{
    background-color: #f6c3b8;
    box-shadow: 3px 5px 0px #050B06;
    margin-top: auto;
    margin-bottom: auto;
}

.bgG{
    opacity: 1;
}
.bgY{
    opacity: 0.4;
}
.bgR{
    opacity: 0;
}

#lock{
    width: 4rem;
    margin-top: 1rem;
    margin-left: -5rem;
    position: absolute;
}

.btnMissionR{
    border-radius: 100px;
    width: 5rem;
    height: 5rem;
    background-color: #f6c3b8;
    box-shadow: 3px 5px 0px #E9674D;
    margin-top: auto;
    margin-bottom: auto;
}

.btnMissionY{
    border-radius: 100px;
    width: 5rem;
    height: 5rem;
    background-color: #f6d9b0;
    box-shadow: 3px 5px 0px #e9a13b;
    margin-top: auto;
    margin-bottom: auto;
}
.btnMissionG{
    border-radius: 100px;
    width: 5rem;
    height: 5rem;
    background-color: #fdf9f9;
    box-shadow: 3px 5px 0px #62b273;
    margin-top: auto;
    margin-bottom: auto;
}

.btnContent{
    margin-top: 0.5rem;
    width: 2.5rem;
}

.lockG{
    opacity: 0;
}
.lockY{
    content: url("/src/assets/icons/icones/unlocked.svg");
}
.lockR{
    opacity: 1;
}

.btnMissionG:hover{
    box-shadow: 3px 5px 0px #62b273;
    position: relative;
    left: 0;
    top: 0;
}