#profile,
#login,
#signup {
  border: 1px solid #050b06;
  border-radius: 30px;
}
.adminRow {
  display: flex;
  flex-direction: row;
}
.btnAdm {
  margin: auto;
}
#addBtn {
  margin-right: 20px;
}

nav a:hover {
  font-weight: bold;
}

#login:active {
  background-color: #d4c7f0;
}
#signup:active {
  background-color: #91c99d;
}

nav a,
.navbtn {
  font-size: 15px;
  text-decoration: none;
  color: #050b06;
  display: inline-block;
  margin: 0 1rem 0 1rem;
}

.navbtn:last-of-type {
  margin-right: 2rem;
}
nav a {
  font-weight: 500;
}

#logo {
  width: 8rem;
  margin-bottom: 1rem;
}

#profilePhoto:hover {
  box-shadow: none;
  position: relative;
  left: 3px;
  top: 5px;
}

nav a.router-link-exact-active {
  color: #050b06;
  font-weight: bold;
}
/* .router-link-exact-active {
  box-shadow: 0px -8px #e9674d inset;
} */
nav a.router-link-active {
  box-shadow: 0px -8px #e9674d inset;
}
.homeLink.router-link-active {
  box-shadow: 0px -8px #e9674d inset;
}
.actLink.router-link-exact-active {
  box-shadow: 0px -8px #c2afea inset;
}
.ocLink.router-link-exact-active {
  box-shadow: 0px -8px #d26174 inset;
}
.formLink.router-link-exact-active {
  box-shadow: 0px -8px #62b273 inset;
}
.missionsLink.router-link-exact-active {
  box-shadow: 0px -8px #e9a13b inset;
}
.aboutLink.router-link-exact-active {
  box-shadow: 0px -8px #62b273 inset;
}
.faqLink.router-link-exact-active {
  box-shadow: 0px -8px #c2afea inset;
}

.logoutbtn:hover {
  content: url("/src/assets/icons/iconesthicc/logout.svg");
}

.addbtn:hover {
  content: url("/src/assets/icons/iconesthicc/addUser.svg");
}

form {
  display: flex;
  flex-direction: column;
}

.drawerLink:hover{
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  #logo {
    height: 3rem;
  }
  nav a {
    font-size: 9px;
  }
}

@media screen and (max-width: 800px) {
  #logo {
    height: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .longNav {
    display: none;
  }
  #logo {
    height: 8rem;
  }
}
@media screen and (min-width: 700px) {
  #ddmenu {
    display: none;
  }
}
