#ProfilePic{
    width: 100%;
    height: auto;
    border: 2px solid #050B06;
    border-radius: 1000px;
    box-shadow: 8px 8px 0px #C2AFEA;
}

p{
    font-weight: 500;
}

#ptsnBtn{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}

#pontos{
    margin-right: 130px;
    display: flex;
    align-items: center;
}
#ptsImg{
    margin-right: 10px;
}

#pfpRow{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* #profileContent{
    margin-left: 57%;
    margin-right: 50%;
    margin-top: 11%;
    position: absolute;
} */

#editIcon{
    width: 20px;
    /* margin-right: 100%; */
    margin-top: 50%;
}
#picture{
    box-shadow: none;
    height: 70px;
}
.editModal{
    width: 40%;
    margin-left: 33%;

}

#btnBonus{
    font-size: 12px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
}

#editIcon:hover{
    content: url("src/assets/icons/iconesthicc/editProfile.svg")
}

.Name{
    font-size: 45px;
}

.badgesDiv{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.badge{
    width: 20%;
    box-shadow: 3px 3px 0px #050B06;
    border: 2px solid #050B06;
    border-radius: 100px;
    margin: 10px;
}

.btnProfile{
    margin: 20px 20px;
}

.profileList{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.listText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.listBtn{
    margin-left: auto;
}

